

.worker-select{
    display: block;
    position: relative;
}

.worker-dropdown{
    display: none;
    flex-direction: column;
    row-gap: 5px;
    
}
.worker-dropdown.show{
    display: flex;
}

.worker-search-item{
    border-radius: 5px;
    background: #f9f9f9;
    font-size: 13px;
    padding: 10px;  
    cursor: pointer;
    transform: 200ms all;
}
.worker-search-item:hover > *,
.worker-search-item:active > *{
    transform: scale(1.1);
    color: black;
}

.worker-search-item > i{
    padding-left: 10px;
}
.worker-search-item > span{
    color: #adadad;
}

.employee-selected-main{
    display: flex;
    column-gap: 5px;
    flex-wrap: no wrap;
    position: absolute;
    top: 3px;
}
.employee-selected{
    padding: 5px 3px;
    border-radius: 7px;
    background: #f9f9f9;
    font-size: 11px;
    transform: skew(-10deg);
    background:rgb(29, 50, 36);
    color: rgb(189, 233, 205);
    cursor: pointer;

}
.employee-selected:hover,
.employee-selected:active{
    background:rgb(16, 27, 19);
    color: rgb(189, 233, 205);
    border-radius: 10px;
}

.psharing{
    /* display: none; */
    transition: 300ms;
    opacity: 0;
    height: 0px !important;
}
.psharing.show{
    display: flex !important;
    opacity: 1;
    height: auto !important;
}

.show-progress{
    display: none;
    font-size: 1.75rem;
}
.show-progress > span{
    font-size: 1rem;
}
.show-progress > i{
    padding: 10px;
    border-radius: 6px;
}
.show-progress.show{
    display: flex !important;
    justify-content: right;
    align-items: center;
    column-gap: 10px;
}
.show-progress>div{
    display: flex;
    font-size: .7rem;
    flex-direction: column;

}
.cpp-title{
    font-size: 1.2rem ;
    color: rgb(138, 138, 138);

}
.progress-title-done{
    color: rgb(16, 115, 60);
}
.progress-icon-done{
    color: rgb(6, 83, 41);
    border: 1px solid #dddddda5;
    box-shadow: 0 0 11px #f9f9f9;
    font-size: 1.2rem !important;
}

.card-action-editor-saved{
    display: none;
}

.card-action-editor-saved.show{
    display: flex !important;
}

.details-progress{
    padding-right: 10px;
    border-right: 1px solid #dddddda5;
}