

.rubik-all, body{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  height: 100vw;
}


body, *{
    margin: 0;
    padding: 0;
    
}
.head-home{
    padding: 0;
    margin: 0;
}
.head-h-body{
    background-image: url('/static/images/head-home-bg.jpg');
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    border-bottom: 1px solid #2d2e3189;
}
.head-h-body > img{
    border-radius: 50%;
    width: 25%;
    height: auto;
    box-shadow: 0 0 21px #b1afafa8;
}


.footer-home{
    padding: 10px;
}

.welcome{
    position: relative;
    margin:0;
    display: flex;
    justify-content: center;
    background: rgb(237, 241, 245);
    padding: 5rem 0 5rem 0;
}

.wel-text{
    display: flex;
    flex-direction: column;
}
.wtt1, .wtt2{
    font-size: 3rem;
    font-weight: bold;
    text-align:center;
}
.wtt2{
   background: linear-gradient(90deg, #ff4d4d, #4d9fff); /* your 2 colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

.wel-continue {
    position: absolute;
    bottom: -20px;      
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff4d4d, #4d9fff);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    animation: jump 1.4s ease-out infinite;
    
}

/* החץ הפנימי */
.wel-continue > i {
    padding: 50%;
    font-size: 20px;
    color: white;
}



.clean-cards{
    padding: 5px;
}
/* CARDS */
.clean-card{
    border-radius: 15px;
    border: 1px solid #d9d9d99e;
    box-shadow:  0 0 11px #c5c5c5;
    display: flex;
    flex-direction: column;
}

.card-head{

}



@keyframes jump {
    0%   { transform: translate(-50%, 0); }
    25%  { transform: translate(-50%, -14px); }  /* jump up */
    40%  { transform: translate(-50%, 0); }      /* return down */
    70%  { transform: translate(-50%, 0); }      /* pause here */
    100% { transform: translate(-50%, 0); }
}

@media (max-width: 768px) {
    .head-h-body > img{
        width: 70%;
        height: auto;
    }
    .wtt1{
        font-size: 2rem;
    }
}