


#invoice-template.hide{
    display: none !important;
}


.the-invoice {
    display: flex;
    justify-content: center;
    width: 700px;
    height: auto;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    box-shadow: 0 0 11px #dcdcdc;
    padding: 10px;
    overflow: hidden;
}

.img-invoice{
    width: 100%;       /* תמונה מותאמת לגודל הכרטיס */
    height: auto;      /* שמירה על יחס גובה-רוחב */
    display: block; 
    object-fit: cover; 
    border-radius: 7px;
}

.main-invoice{
    padding: 0 !important;
    direction: rtl;
    border: 1px solid #ddd;
    width: 794px;
    height: 1123px;
    background: white;
    margin: 0 ;
    box-shadow: 0 0 11px #dcdcdc;
    position: relative;
}

.head-invoice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.title-invoice{
    font-size: 3rem;
    color: rgb(51, 56, 58);
    font-weight: bold;
}

.logo-invoice{
    width: 140px;
    height: 140px;
}
.logo-self-invoice{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -3px 6px 11px 0 #efe1c7;
}

.info-invoice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}


.from-invoice,  .to-invoice{
    display: grid;
    grid-template-columns: 1fr;
}
.tit{
    color: rgb(17, 94, 108);
}
.from, .to{
    font-weight: bold;
    font-size: 14px;
}

.website, .tip, .tim{
    transform: skew(-10deg);
    color: #828282;
    font-size: 12px;
}

.matadata-invoice{
    font-size: 13px;
    row-gap: 5px;
    display: grid;
    grid-template-columns:1fr; 

}

.mii{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.mii > span:last-child{
    color: #828282;
}
.body-invoice{
    border-bottom: 1px solid #a7a7a7;
}
.body-invoice > *:not(.phti){
    padding: 5px 2rem;
    
}
.phti{
    background: linear-gradient(to right, rgb(23, 107, 149), rgb(41, 189, 137));
}
.header-table-invoice, .item-table-invoice{
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    padding: 10px 2rem;
}
.item-table-invoice{
    color: black !important;
}


.tid{
    font-weight: bold;
    
}

.invoice-summary{
    display: grid;
    grid-template-rows: 1fr;
    width: 50%;
}

.invoice-summary > *{
    padding: 2rem;
}
.balance-due{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to left, black,#828282);
    color: white;
    font-size: 1.2rem;
}

.invoice-footer{
    width: 90%;
    position: absolute;
    bottom: 10px;
    right: 2rem;
    transform: skewX(-10deg);
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.about-vat{

}
.invoice-signature{
    color: #828282;
}


/* מובייל */
@media (max-width: 768px) {
    .the-invoice {
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
    
}