.rubik-all, body{
  font-family: "Google Sans" !important;
  direction: rtl;
}


.auth-login {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}


.auth-box{
    padding: 1.75rem;
    background: transparent;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.auth-head{
    padding: 1rem;
    display: flex;
    column-gap: 15px;
    align-items: end;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dfdfdf;

}
.auth-head> span{
    font-weight: bold;
    font-size: 2rem;
    flex: 1;
    text-align: center; 
}
.auth-head > i{
    font-size: 2.75rem;
    color: rgb(45, 128, 199);
}


.auth-body{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    margin: 40px 0;
}

.auth-input{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    border-radius: 7px;
    background-color: rgb(193, 204, 210);
    outline: none;
    color: rgb(0, 0, 0);
    border:1px solid #9198a0;
    
}


.auth-footer{
    margin-right:25% ;
    margin-left:25% ;
}
.btn-login {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: linear-gradient(90deg, #ff4d4d, #4d9fff);
    transition: 0.3s ease;
}

.btn-login:hover {
    transform: scale(1.2);
    box-shadow: 0 0 11px #828486;
}

.extra-links {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.extra-links a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}



.dashboard-menu {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 70px; /* change if you want */
    background: #ffffff;
    border-top: 1px solid #ddd;
    z-index: 9999;
    margin-left: 25%;
    margin-right: 25%;
    
    /* optional app-style shadow */
    box-shadow: 0 -2px 10px rgba(0,0,0,0.15);
}

.menu-items{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.menu-item, .master-menu-item{
    background: white;
    position: relative;
    padding: 7px;
    border: 1px solid #dddddda5;
    border-radius: 15px;
    transition: all 200ms;
    cursor: pointer;
}
.menu-item:active,
.menu-item:hover{
    box-shadow: 0 0 11px #ddd;
    transform: scale(1.2);
}
.master-menu-item{
    display: flex;
    justify-content: space-between;
}

.master{
    width: 48px !important;
    height: auto;
    text-align: center;
    transform: scale(1.2);
    top: -15px;
    position: relative;
}

.master.open{
    width: 110px !important;
    top: -120px;
    transform: scale(1.0);
}
.menu-master{
    display: none;


}
.menu-master.show{
    display: flex !important;
    row-gap: 5px;
    flex-direction: column;
}
.dashboard-page{
    display: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100vh;
    overflow-y: auto;
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}

.page-head{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: start;
    
}
.page-head > *{
    flex: 1;
}
.create-card{
    border-radius: 50%;
    padding: 10px;
    font-size: 1rem;
    background: #1a4678;
    color: white;
    cursor: pointer;
    transition: all 200ms;
    
}
.create-card:active,
.create-card:hover{
    padding: 5px;
    font-size: 1.5rem;
    box-shadow: 0 0 11px #939393;
    transform: scale(1.1);
}
.page-body{
    margin-top: .5rem;
    margin-left: 20%;
    margin-right: 20%;
}

.card-item, .worker-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:  5px;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}
.card-title, .client-title, .worker-title{
    display: grid;
    column-gap: 10px;
    align-items: end;
    row-gap: 10px;
}
.card-title>.ctitle, .client-title>.ctitle{
    font-size: 1rem;
    padding-left: 5px;
}
.ctype{
    font-size: .8rem;
    color: #828486;
}
.ctype-1, .ctype-2, .ctype-4, .ctype-8{
    color: white !important;
    border-radius: 4px;
    font-size: 13px;
    text-align: center;
    height: 20px;
    max-width: 100px;
}

.ctype-1{
    background: #638390;
}
.ctype-2{
    background: #a2a954;
}
.ctype-4{
    background: rgb(182, 104, 104);
}
.ctype-8{
    background: #5fbb98;
}
.card-body, .client-body, .worker-body{

}
.card-footer, .client-footer, .worker-footer{
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    align-items: center;
}


.menu-actions-clients, .menu-actions-workers{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    column-gap: 5px;
}
.action-client{
    position: relative;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px #d5d6d8;
    cursor: pointer;
    transition: 200ms all;
    font-size: 13px;
    max-height: 37px;
}
.action-client:hover,
.action-client:active,
.action-client:focus, .ac-selected{
    box-shadow: 0 0 11px #d5d6d8 !important;
}
.action-search{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    padding: 5px;
}
.action-search > i{
    font-size: 1.1rem;
}
.ac1, .ac2, .ac3, .ac4, .sc1, .sc2, .sc4{
    word-break: keep-all;
}
.ac1.ac-selected,.sc1.sc-selected{
    background:#5fbb98;
    color: white;
}
.ac2.ac-selected,.sc2.sc-selected{
    background: #a2a954;
    color: white;
}
.ac3.ac-selected{
    background:  #638390;;
    color:white;
}
.ac4.ac-selected, .sc4.sc-selected{
    background: rgb(182, 104, 104);
    color:white;
}
.menu-client, .client-footer>i{
    padding: 10px;
    border-radius: 6px !important;
    border: 1px solid #ebebeb;
    cursor: pointer;
}
.menu-client:hover{
    box-shadow:  0 0 11px #e2e2e2 !important;
}
.card-footer>i, .client-footer>i{
    border-radius: 50%;
}
.card-footer>i:hover, .client-footer>i:hover{
    box-shadow: 0 0 11px #9c9c9c;
}
.main-edit-card, .main-edit-client, .main-edit-worker, .view-invoice{
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 100%;  
    overflow-y: auto;
    background: white;
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
    transition: all 0.3s ease;
}
.main-edit-client.show{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.ce-head{
    padding: 10px;
    display: flex;
    justify-content: right;
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 20px;
}
.ce-head > i{
    font-size: 2rem;
    padding: 10px;
    border-radius: 50% ;
    border: 1px solid #ddd;
    background: rgb(199, 199, 199);
    cursor: pointer;
}
.ce-body{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row-reverse;
    column-gap: 10px;
    row-gap: 20px;
    flex: 1;
    background:white;
}
.input-card-edit{
    font-size: inherit;
    max-width: 150px;
    min-width: 50px;
    padding: 4px 6px;
    border-radius: 7px;
    transition: width .1s ease;
    width: auto;
    border: 1px solid #ddd;
    outline: none;
}
.img-editor{
    position: relative !important;
}
.add-image{
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    background: rgba(255, 255, 255, 0.117);
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    transform: all 200ms;
    cursor: pointer;
}
.add-image > i:active, .add-image > span:active{
    transform: scale(1.1);
}

.card-editor-settings{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}

.setting-item-input{
    display: flex;
    padding: 10px;
}
.setting-item-input > i{
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1.25rem;
    flex-shrink: 0;
}
.setting-item-input > input{
   flex: 1 !important;
   max-width: 100% !important;
}

.card-action-editor.hide{
    display: none;
}
.card-action-editor, .worker-action, .card-action-editor-saved{
    border-top:1px solid #ddd;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 10px;
    padding-top: 10px;
    column-gap: 20px;
}
.card-action-editor> .draft-btn, .card-action-editor-saved>.draft-btn{
    flex-shrink: 0;
    width: auto !important;
    background: rgb(48, 47, 47) !important;
}
.card-action-editor> .save-btn, .card-action-editor-saved > .save-btn{
    flex: 1;
}

/* CLIENT CARD */
.client-card, .worker-card{
    border: 1px solid #ddd !important;
    min-width: 350px;
    box-sizing: content-box !important;
}
.client-head, .worker-head{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddddddc4;
    padding-bottom: 10px;
}
.client-h-title, .worker-h-title{
    display: flex;
    align-items: end;
    column-gap: 10px;
    margin-bottom: 20px;

}
.client-h-title>img{
    width: 48px !important;
    height: 48px;

}
.dcompany{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.dcompany>#dc1{
    font-size: 1.75rem;
    font-weight: bold;
}
.dcompany>#dc2, .cd-calls{
    font-size: .75rem;
    color: #5f6060;
}
.cd-calls{
    display: flex;
    column-gap: 5px;
    transform: skewX(-8deg);
}
.cd-calls > div > i{
    border: 1px solid #e8ebef;
    border-radius: 5px;
    padding: 2px;
    font-size: .55rem;
}
.cd-calls > div > span{
    opacity: 0.8;
    font-size: .6rem;
}
.c-input-fn, .c-input-date, .c-input-location, .c-input-item-name, .c-input-fw{
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #dddddda5;
    font-size: .7rem;
    text-align: right;
}
.c-inpu-p-vat{
    padding: 5px;
    position: relative;
}
.c-input-date{
    font-weight: normal !important;
}
.c-input-location{
    width: 160px !important;
}
.c-input-item-name{
    width: 95% !important;
}
.c-input-fw{
    text-align: start !important;
    font-size: 1rem !important;
    padding-right: 0px;
    min-width:340px;
    box-sizing: border-box;
}
.client-details, .worker-details{
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
}
.client-details.hide{
    display: none;
}
.s-item-name{
    font-size: .8rem;
    color:#313131;
}
.s-item-price{
    color: #557777;
    font-size: 1rem;
}
.cd-item{
    display: flex;
    flex-direction: column;
    color: #5f6060;
    font-size: .7rem;
}
.cd-name, .ci-notes{
    font-size: .9rem;
    color: #262626;

}
.client-body{

}
.client-body.hide{
    display: none;
}
.clean-items{
    margin-bottom: 20px;
    border-bottom: 1px solid #ddddddc4;

}
.ci-head{
    font-size: 1.25rem;
    display: flex;
    column-gap: 10px;
    width: 100%;
}
.ci-head>i{
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.ci-head>i:active,
.ci-head>i:hover{
    box-shadow: 0 0 11px #ddd;
}
.ci-body{

}
.items-ordered,#items-ordered{
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}
.header{
    background: #f4f4f4;
    padding: 5px;
    font-size: .8rem;
}
.ordered, .header{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.ordered{
    position: relative;
}

.item-ordered{
    display: flex;
    column-gap: 10px;

}
.trash-order{
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(225, 106, 106);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.trash-order:active,
.trash-order:hover{
    box-shadow: 0 0 11px #ddd;
}
.ci-notes{
    padding-bottom: 20px;
}
.notes-content{
    
}
.c-input-notes{
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #ececec;
    min-height: 50px;
    color: #5f6060;
    font-size: .75rem;
    padding: 10px;
    width: 90%;
    outline: none;
    overflow: hidden;
    resize: none;
    direction: rtl;
}
.dis-notes{
    pointer-events: none;
}
.prices{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content:center;
    border-top: 1px solid #dfdfdf;
    padding-top: 5px;

}
.price-off-price{
    justify-content: right !important;
}
.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #555;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    background-color: #fff;
}

/* Hover */
.checkbox:hover {
    border-color: #000;
    transform: scale(1.05);
}

/* Checked state */
.checkbox:checked {
    background-color: #000;
    border-color: #000;
}

/* Check mark */
.checkbox:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.m-price{
    display: flex;
    column-gap: 5px;
    align-items: end;
    flex-wrap: nowrap;
    line-height: 1;
}
.off-price{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.off-price>span{
    color: #5f6060;
    font-size: .8rem;
}
.price-all{
    font-size: 1.7rem;
    color: rgb(63, 152, 36);
    text-align: end;
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 600;
    color: #2e7d32;
    line-height: 1;
    letter-spacing: -0.5px;
    font-variant-numeric: tabular-nums;
}
.price-all-off{
    font-size: 1.3rem !important;
    text-decoration: line-through;
    text-decoration-color: rgb(230, 76, 76);
    color: #a2a2a2;
    font-weight: normal;
}
#spnprice{
    text-decoration: none !important;
}
.p-vat{
    color: #5f6060;
    font-size: .8rem;
}
.price-notes{
    margin-top: 5px;
    display: grid;
    font-size: .7rem;
    color: #9198a0;
    grid-template-columns: 1fr 10fr;
}
.price-notes>i{
    width: 32px;
}
.client-footer.disable, .footer-time-signature.disable{
    display: none !important;
}
.client-footer .card-action-editor>i, .card-action-editor-saved>i{
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 11px #ddd;
}

.footer-time-signature{
    display: flex;
    transform: skewX(-8deg);
    direction: ltr;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #e8e8e8c8;
    color: #bbbbbb;
    flex: 1;
    column-gap: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-time-signature > span > svg{
    width: 100%;
    height: 100%;
    width: 16px !important;
}

/* container */
.client-menu-action, .year-funds-menu, .calander-clients-menu{
    position: absolute;
    min-width: 180px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    opacity: 0;
    transform: scale(0.55);
    pointer-events: none;
    transition: 0.25s ease;
    z-index: 100000;
}
.client-menu-action.show, .year-funds-menu.show, .calander-clients-menu.show{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.cma{
    display: grid;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
    column-gap: 10px;
    grid-template-columns: 1fr 3fr;
    font-size: 14px;
}
.cma> .cma1{
    padding: 8px;
    box-shadow: 0 0 11px #e4e4e4;
    border-radius: 7px;
    text-align: center;
}
.cma> .cma2{
    flex: 1;
    padding: 8px;
}

@media (max-width: 768px) {
    .auth-box{
        padding: .75rem
    }
    .auth-login{
        margin-right: 1%;
        margin-left: 1%;
    }

    .auth-head> span{
        font-weight: bold;
        font-size: 1.25rem;
        flex: 1;
        text-align: center; 
    }

    .auth-head > i{
        font-size: 2rem;
        color: rgb(45, 128, 199);
    }
    .dashboard-menu{
        width: 100%;
        margin: 0;
    }
    .dashboard-page{
        padding: 0rem;
    }
    .card-editor-settings{
        width: 100%;
    }
    .page-body{
        margin-right:  1% !important;
        margin-left:  1% !important;
    }
    .client-card{
        width: 100%;
        
    }
    .main-cards-in-ex-pr{
        width: 100% !important;
        justify-content: space-between;
    }
    .card-inexpr-text{
        font-size: 1.5rem !important;
    }
    .chart-wrapper{
          display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .chartbody{
        width: 95% !important;
    }
    .ce-head{
        margin: 0 !important;
    }
    .ce-body{
        flex-direction: column;
        align-items: center;
    }

}



#chartClientIncome{
    direction: rtl !important;
}
.chart-wrapper {
  padding: 5px;
}


.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}


.chart-card {
  max-width: 1000px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.chart-header-action{
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.chart-header-action > i{
    cursor: pointer;
    transition: 200ms all;
}
.chart-header-action > i:active{
    transform: scale(1.2);
}


.color-in{
    color: #007ba0 !important;
}
.color-ex{color: rgb(134, 29, 29);}
.color-pr{color: rgb(27, 146, 97);}
.color-ppc{color: #9508ad;}
.color-epc{color:#c7c41d}
.color-tc{color: #074b98;}


.card-shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


.main-cards{
    display: flex;
    width: 100% !important;
    row-gap: 50px;
    flex-direction: column;


}

.main-cards-in-ex-pr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 15px;
}

.card-in-ex-pr{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 140px;
    text-align: center;
    justify-content: space-between;
}
.card-inexpr-title{
    color: gray;
    margin-bottom: 10px;
    font-size: 14px;
}
.card-inexpr-text{
    font-weight: bold;
    font-family: 'Assistant';
    font-size: 2rem;
    font-variant-numeric: tabular-nums;
}
.chartbody{
    direction: rtl;
    max-width: 570px;
    overflow: visible !important;
}

.year-select{
    background: #eef2ff;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 200ms all;

}
.year-select:hover,
.year-select:active{
    transform: scale(1.1);
}

.year-funds-menu{

}