


.auth-login {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}


.auth-box{
    padding: 1.75rem;
    background: transparent;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.auth-head{
    padding: 1rem;
    display: flex;
    column-gap: 15px;
    align-items: end;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dfdfdf;

}
.auth-head> span{
    font-weight: bold;
    font-size: 2rem;
    flex: 1;
    text-align: center; 
}
.auth-head > i{
    font-size: 2.75rem;
    color: rgb(45, 128, 199);
}


.auth-body{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    margin: 40px 0;
}

.auth-input{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    border-radius: 7px;
    background-color: rgb(193, 204, 210);
    outline: none;
    color: rgb(0, 0, 0);
    border:1px solid #9198a0;
    
}


.auth-footer{
    margin-right:25% ;
    margin-left:25% ;
}
.btn-login {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: linear-gradient(90deg, #ff4d4d, #4d9fff);
    transition: 0.3s ease;
}

.btn-login:hover {
    transform: scale(1.2);
    box-shadow: 0 0 11px #828486;
}

.extra-links {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.extra-links a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}



.dashboard-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;

    height: 70px; /* change if you want */
    background: #ffffff;
    border-top: 1px solid #ddd;


    z-index: 9999;
    margin-left: 25%;
    margin-right: 25%;
    
    /* optional app-style shadow */
    box-shadow: 0 -2px 10px rgba(0,0,0,0.15);
}

.menu-items{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item{
    background: white;
    position: relative;
    padding: 7px;
    border: 1px solid #dddddda5;
    border-radius: 15px;
    transition: all 200ms;
    cursor: pointer;
}
.menu-item:active,
.menu-item:hover{
    box-shadow: 0 0 11px #ddd;
    transform: scale(1.2);
}

.master{
    width: 48px;
    height: auto;
    text-align: center;
    transform: scale(1.2);
    top: -15px;
}

.dashboard-page{
    display: none;
    padding: 1.75rem;
    position: relative;      /* NOT fixed, NOT absolute */
    padding-bottom: 120px !important;   /* reserve space for the menu */
    height: 100%;
    overflow-y: auto;
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}

.page-head{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: start;
    
}
.create-card{
    border-radius: 50%;
    padding: 10px;
    font-size: 1rem;
    background: #1a4678;
    color: white;
    cursor: pointer;
    transition: all 200ms;
    
}
.create-card:active,
.create-card:hover{
    padding: 5px;
    font-size: 1.5rem;
    box-shadow: 0 0 11px #939393;
    transform: scale(1.1);
}
.page-body{
    margin-top: 2.5rem;
    margin-left: 20%;
    margin-right: 20%;
}
.list-cards, .list-clients{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 9px;
    border: 1px solid #ddd;
}
.card-item, .client-item{
    display: flex;
    align-items: end;
    padding: 5px;
    justify-content: space-between;
}
.card-title, .client-title{
    display: flex;
    column-gap: 10px;
    align-items: end;
}
.card-title>.ctitle, .client-title>.ctitle{
    font-size: 1rem;
    border-left: 1px solid #ddd;
    padding-left: 5px;
}
.card-title>.ctype, .client-title>.ctype{
    font-size: .8rem;
    color: #828486;
}
.card-body, .client-body{

}
.card-footer, .client-footer{
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
}
.card-footer>i, .client-footer>i{
    border-radius: 50%;
}
.card-footer>i:hover, .client-footer>i:hover{
    box-shadow: 0 0 11px #9c9c9c;
}
.main-edit-card, .main-edit-client{
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 100%;  
    overflow-y: auto;
    background: white;
}
.ce-head{
    padding: 10px;
}
.ce-head > i{
    font-size: 2rem;
    padding: 10px;
    border-radius: 50% ;
    border: 1px solid #ddd;
    background: rgb(199, 199, 199);
    cursor: pointer;
}
.ce-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.input-card-edit{
    font-size: inherit;
    max-width: 150px;
    min-width: 50px;
    padding: 4px 6px;
    border-radius: 7px;
    transition: width .1s ease;
    width: auto;
    border: 1px solid #ddd;
    outline: none;
}
.img-editor{
    position: relative !important;
}
.add-image{
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    background: rgba(255, 255, 255, 0.117);
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    transform: all 200ms;
    cursor: pointer;
}
.add-image > i:active, .add-image > span:active{
    transform: scale(1.1);
}

.card-editor-settings{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}

.setting-item-input{
    display: flex;
    padding: 10px;
}
.setting-item-input > i{
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1.25rem;
    flex-shrink: 0;
}
.setting-item-input > input{
   flex: 1 !important;
   max-width: 100% !important;
}

.card-action-editor{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}
.card-action-editor> .draft-btn{
    flex-shrink: 0;
    width: auto !important;
    background: rgb(48, 47, 47) !important;
}
.card-action-editor> .save-btn{
    flex: 1;
}

/* CLIENT CARD */
.client-card{
    border: 1px solid #ddd !important;
    min-width: 350px;

}
.client-head{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddddddc4;
    padding-bottom: 10px;
}
.client-h-title{
    display: flex;
    align-items: end;
    column-gap: 10px;
    margin-bottom: 20px;

}
.client-h-title>img{
    width: 48px !important;
    height: 48px;

}
.client-h-title>.dcompany{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.client-h-title>.dcompany>#dc1{
    font-size: 1.75rem;
    font-weight: bold;
}
.client-h-title>.dcompany>#dc2{
    font-size: .75rem;
    color: #5f6060;
}
.c-input-fn, .c-input-date, .c-input-location, .c-input-item-name{
    padding: 5px;
    border-radius: 5px;
    width: 80px !important;
    outline: none;
    border: 1px solid #dddddda5;
    font-size: .7rem;
}
.c-inpu-p-vat{
    padding: 5px;
}
.c-input-date{
    font-weight: normal !important;
}
.c-input-location{
    width: 160px !important;
}
.c-input-item-name{
    width: 95% !important;
}
.client-details{
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 15px;
}
.s-item-name{
    font-size: .8rem;
    color:#313131;
}
.s-item-price{
    color: #557777;
    font-size: 1rem;
}
.cd-item{
    display: flex;
    flex-direction: column;
    color: #5f6060;
    font-size: .7rem;
}
.cd-name, .ci-notes{
    font-size: .9rem;
    color: #262626;

}
.client-body{

}
.clean-items{
    margin-bottom: 20px;
    border-bottom: 1px solid #ddddddc4;

}
.ci-head{
    font-size: 1.25rem;
    display: flex;
    column-gap: 10px;
}
.ci-head>i{
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.ci-head>i:active,
.ci-head>i:hover{
    box-shadow: 0 0 11px #ddd;
}
.ci-body{

}
.items-ordered{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}
.header{
    background: #f4f4f4;
    padding: 5px;
    font-size: .8rem;
}
.ordered, .header{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.ordered{
    position: relative;
}

.item-ordered{
    display: flex;
    column-gap: 10px;

}
.trash-order{
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(225, 106, 106);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.trash-order:active,
.trash-order:hover{
    box-shadow: 0 0 11px #ddd;
}
.ci-notes{
    padding-bottom: 20px;
}
.notes-content{
    
}
.c-input-notes{
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #ececec;
    min-height: 50px;
    color: #5f6060;
    font-size: .75rem;
    padding: 10px;
    width: 90%;
    outline: none;
    overflow: hidden;
    resize: none;
    direction: rtl;
}
.dis-notes{
    pointer-events: none;
}
.prices{
    display: flex;
    margin-bottom: 20px;
    justify-content:center;
    border-top: 1px solid #dfdfdf;
    padding-top: 5px;

}
.price-off-price{
    justify-content: right !important;
}
.m-price{
    display: flex;
    column-gap: 5px;
    align-items: end;
    line-height: 1;
}
.off-price{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.off-price>span{
    color: #5f6060;
    font-size: .8rem;
}
.price-all{
    font-size: 1.7rem;
    color: rgb(63, 152, 36);
    text-align: end;
    font-family: 'Inter', system-ui, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #2e7d32; /* ירוק כמו בתמונה */
    line-height: 1;
    letter-spacing: -0.5px;
    font-variant-numeric: tabular-nums;
}
.price-all-off{
    font-size: 1.4rem !important;
    text-decoration: line-through;
    text-decoration-color: rgb(230, 76, 76);
    color: #a2a2a2;
    font-weight: normal;
}
#spnprice{
    text-decoration: none !important;
}
.p-vat{
    color: #5f6060;
    font-size: .8rem;
}
.price-notes{
    display: grid;
    font-size: .7rem;
    color: #9198a0;
    grid-template-columns: 1fr 10fr;
}
.price-notes>i{
    width: 32px;
}
.client-footer{
    margin-top: 20px;
}
.client-footer.disable{
    display: none !important;
}
.client-footer .card-action-editor>i{
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 11px #ddd;
}
@media (max-width: 768px) {
    .auth-box{
        padding: .75rem
    }
    .auth-login{
        margin-right: 1%;
        margin-left: 1%;
    }

    .auth-head> span{
        font-weight: bold;
        font-size: 1.25rem;
        flex: 1;
        text-align: center; 
    }

    .auth-head > i{
        font-size: 2rem;
        color: rgb(45, 128, 199);
    }
    .dashboard-menu{
        width: 100%;
        margin: 0;
    }
    .dashboard-page{
        padding: 0rem;
    }
    .card-editor-settings{
        width: 100%;
    }
    .page-body{
        margin-right:  1%;
        margin-left:  1%;
    }
    .client-card{
        width: 100%;
        
    }        
}