<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{company_name}}</title>
    <link rel="stylesheet" href="/static/css/home.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="head-home">
        <div class="head-h-body">
            <img src="/static/images/logo.png" id="logo">
        </div>
    </div>
    <div class="body-home">
        <div class="welcome">
            <div class="wel-text">
                <span class="wtt3" style="display: block;">{{company_name}}</span>
                <span class="wtt1">ניקוי כל סוגי הריפודים 
                    <span class="wtt2">שירות. מקצועיות. ייסודיות.</span>
                </span>
            </div>

        </div>
        <div class="works">
            <div class="wel-text">
                <span class="wtt3" style="display: block;">עבודות שלנו</span>
            </div>
            <div class="wel-continue">
                <i class="fa-solid fa-arrow-down"></i>
            </div>
        </div>
        <div class="clean-cards">
            <div class="cards-nevigate">
                <i class="fa-solid fa-circle-arrow-right"></i>
                <i class="fa-solid fa-circle-arrow-left"></i>
            </div>
            <div class="cards">
            {% from "/home/card_category.html" import render_card %}
            {% for card in cards %}
                {% if card.state == 1%}{{continue}}{%endif%}

                {{ render_card(card.title, card.img_path, card.card_id, special_things) }}
            {% endfor %}
            </div>

        </div>
        <div class="aboutus">
            <div class="welcome">
                <div class="wel-text">
                    <span class="wtt3">למה אנחנו</span>
                </div>
            </div>
            <div class="aboutus-items">
                <div class="aboutus-item">
                    <div class="about-title">
                        <span>שירות</span>
                        אנחנו נותנים 100% שירות
                    </div>
                    <div class="about-description">
                        אנחנו מגיעים בזמן לבית הלקוח, סבלנות וחיוך, ותמיד שמחים להסביר על תהליך ניקוי הריפוד שלכם
                    </div>
                </div>
                 <div class="aboutus-item">
                    <div class="about-title">
                        <span>חיטוי</span>
                        הריפוד שלכם יחזור להיות כמו חדש
                    </div>
                    <div class="about-description">
                        הריפוד שלך אם זה הספה / כורסא וגם המזרן צוברים אבק ובעיקר חיידקים במליונים, הניקוי שלנו מתמקד בחיטוי הריפוד להעלמת כל הריחות הלא נעימים, הסרת כתמי מים לכלוך אוכל וזיעה ועוד..
                    </div>
                </div>
                 <div class="aboutus-item">
                    <div class="about-title">
                        <span>נסיון</span>
                        השירות שלנו
                    </div>
                    <div class="about-description">
                        United States Citizenship and Immigration Services facilitates an in-depth background check and process to vet the potential card holder.
                    </div>
                </div>
            </div>
        </div>
        <div class="networks">
            <div class="welcome">
                <div class="wel-text">
                    <span class="wtt3" style="display: block;">עקבו אחרינו</span>
                </div>
            </div>
            <div class="social-media">
                <i class="icon" style="font-size: 30px;" onclick="openSocielMedia(SocialMedia.GOOGLE)">
                    {% include "icon/google.svg" %}
                </i>
                <i class="icon" style="font-size: 30px;" onclick="openSocielMedia(SocialMedia.INSTEGRAM)">
                    {% include "icon/instegram.svg" %}
                </i>
                <i class="icon" style="font-size: 30px;" onclick="openSocielMedia(SocialMedia.FACEBOOK)">
                    {% include "icon/facebook.svg" %}
                </i>
                 <i class="icon" style="font-size: 30px;" onclick="openSocielMedia(SocialMedia.TIKTOK)">
                    {% include "icon/tiktok.svg" %}
                </i>
            </div>
           <div class="frame-social">
                <div style="position:relative; width:100%; padding-bottom:175%; height:0;">
                    <iframe
                        src="https://www.instagram.com/reel/DR7XGsZCOQ1/embed"
                        style="position:absolute; top:0; left:0; width:100%; height:100%; border:0;"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script src="/static/js/home.js"></script>
<script src="/static/js/protocol.js"></script>
</html>




