{% macro render_invoice(invoice, editor=False) %}
{% set nameTypeOfInvoice = "קבלה" if not invoice.is_vat else "חשבונית מס" %}
<div class="main-invoice">
    <div class="head-invoice">

        <div class="title-invoice">
            {{nameTypeOfInvoice}}
        </div>
        <div class="logo-invoice">
            <img class="logo-self-invoice" src="/static/images/logo/{{company.logo_path}}">
        </div>
    </div>
    <div class="info-invoice">
        <div class="from-invoice">
            <span class="tit">{{nameTypeOfInvoice}} מאת:</span>
            <span class="from">{{company.company_name}}</span>
            <span class="tim">{{company.company_VAT}}</span>
            <span class="website">havraka-bdaka.com</span>
            <span class="tip">{{company.company_phone}}</span>
            
        </div>
        <div class="to-invoice">
            <span class="tit">{{nameTypeOfInvoice}} עבור:</span>
            <span class="to">{{order.fullname}}</span>
            <span class="tim">{{order.address}}</span>
            <span class="tip">{{order.phone}}</span>
        </div>
        <div class="matadata-invoice">
            <div class="mii">
                <span>מספר {{nameTypeOfInvoice}}:</span>
                <span>{{invoice.key | zfill4}}</span>
            </div>
            <div class="mii">
                <span>תאריך הפקה:</span>
                <span>{{invoice.date | cda}} {{invoice.date | cdah}}</span>
            </div>
            <div class="mii">
                <span>תאריך עיסקה:</span>
                <span>{{order.date | cda}} {{order.date | cdah}}</span>
            </div>
        </div>
    </div>
    <div class="body-invoice">
        <div class="phti">
            <div class="header-table-invoice">
                <span>תיאור</span>
                <span>כמות</span>
                <span>סוג תשלום</span>
                <span>מחיר</span>
            </div>
        </div>
        {% for key, item in order.items.items()%}
            <div class="item-table-invoice">
                <div class="table-description">
                    <span class="tid">{{item.name}}</span>
                </div>
                <div class="table-quantity">
                    <span>1</span>
                </div>
                <div class="table-payment">
                    <span>{{invoice.payment_type | pft}}</span>
                </div>
                <div class="table-price">
                    <span>{{item.price}}₪</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="invoice-summary">
        <div class="matadata-invoice">
            <div class="mii">
                <span>פריטים:</span>
                <span>{{order.items|length}}</span>
            </div>
            <div class="mii">
                <span>סה״כ:</span>
                <span>{{order.price}}₪</span>
            </div>
            {% if order.off_price %}
            <div class="mii">
                <span>הנחה:</span>
                <span>{{order.off_price}}₪-</span>
            </div>
            {%endif%}
            {% if invoice.is_vat %}
                <div class="mii">
                    <span>לפני מע"מ:</span>
                    <span>{{order.price-order.off_price}}₪</span>
                </div>
                <div class="mii">
                    <span>מע"מ {{vat_number}}%:</span>
                    <span>{{(order.price-order.off_price) | vatoponly}}₪</span>
                </div>
            {% endif %}
        </div>
        <div class="balance-due">
            <span>סה״כ שולם</span>
            {% if invoice.is_vat%}
                <span>{{(order.price-order.off_price) | vatop}}₪</span>
            {%else%}
                <span>{{order.price-order.off_price}}₪</span>
            {%endif%}

        </div>
    </div>
    <div class="invoice-footer">
        {% if company.vat_company == 0%}
        <span class="about-vat">עוסק פטור – אינו גובה מע״מ</span>
        {% endif %}
        <span class="invoice-signature">חתימה: {{invoice.receipt_id}}</span>
        <span>מסמך ממוחשב</span>
    </div>
</div>


</div>

{% endmacro %}

{{ render_invoice(invoice, editor) }}