<div class="dashboard-page" id="CARDS">
    <div class="page-head">
        <h2>כרטיסים - לפני / אחרי</h2>
        <i class="fa-solid fa-circle-plus create-card" onclick="createCard()"></i>
    </div>
    <div class="page-body">
        <div class="list-cards">
            {% for card in cards %}
                <div class="card-item" data-key="{{card.key}}" id="{{card.card_id}}">
                    <div class="card-title">
                        <span class="ctitle">{{ card.title }}</span>
                        <span class="ctype">
                            {% if card.state == 2 %}
                                published
                            {% else %}
                                draft
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-body"></div>
                    <div class="card-footer">
                        {% if card.state== 2 %}
                            <i class="fa-solid fa-bookmark" onclick="draftCard()"></i>
                        {% endif %}
                        <i class="fa-solid fa-trash-can trash" onclick="deleteCard('{{card.card_id}}')"></i>
                        <i class="fa-solid fa-pencil" onclick="editExistCard('{{card.card_id}}')"></i>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="main-edit-card" id="card-editor">
    <div class="ce-head">
        <i class="fa-solid fa-circle-xmark" onclick="closeCreateCard()"></i>
    </div>
    <div class="ce-body" id="card-template">
        <h1 >building..</h1>
    </div>

</div>