<div class="dashboard-page" id="CLIENTS">
    <div class="page-head">
        <h2>לקוחות - ניהול  סגירות</h2>
        <i class="fa-solid fa-circle-plus create-card" onclick="createClient()"></i>
    </div>

    <div class="page-body">
        <div id="macs", class="menu-actions-clients">
            <div class="action-client no-desk" onclick="openMenuStateClients(this)">
                <i class="fa-solid fa-filter"></i>
                <!-- <span class="count-stat">{% if counts[1] %} {{ counts[1] }}{% endif %}</span> -->
            </div>
            <div class="action-client ac1 no-mobile" onclick="selectClientsState(this)" data-s="8">
                הושלם
                <span class="count-stat">{% if counts[1] %} {{ counts[1] }}{% endif %}</span>
            </div>
            <div class="action-client ac2 no-mobile" onclick="selectClientsState(this)" data-s="2">
                בהמתנה
                <span class="count-stat">{% if counts[2] %} {{ counts[2] }}{% endif %}</span>
            </div>
            <div class="action-client ac3 no-mobile" onclick="selectClientsState(this)" data-s="1">
                לא נסגר
                <span class="count-stat">{% if counts[0] %} {{ counts[0] }}{% endif %}</span>
            </div>
            <div class="action-client ac4 no-mobile" onclick="selectClientsState(this)" data-s="4">
                בוטל
                <span class="count-stat">{% if counts[3] %} {{ counts[3] }}{% endif %}</span>
            </div>
            <div class="action-client" onclick="openMenuCalander(this)">
                <i class="fa-solid fa-calendar-days"></i><span style="padding-right: 10px;" id="acc"></span> 
            </div>
            <div class="action-client action-search">
                <i class="fa-solid fa-circle-xmark" style="display: none;" onclick="closeSearchClients(this)"></i>
                <i class="fa-solid fa-magnifying-glass" onclick="openSearchClients(this)"></i>
                <input class="c-input-fn seacrh-input" type="text" placeholder="שם, פאלפון, תאריך" id="searchClient" oninput="doSearchClientsLocal(this)">
            </div>
        </div>

        <div class="list-clients" id="listClients">
        </div>
    <div id="clientMenu" class="client-menu-action"></div>
    </div>
    <div class="main-edit-client" id="client-editor">
        <div class="ce-head">
            <i class="fa-solid fa-circle-xmark" onclick="closeCreateClient()"></i>
        </div>
        <div class="ce-body" id="client-template">
            <h1>
                <i class="fa-solid fa-circle-notch fa-spin fa-spin"></i>
                building..
            </h1>
        </div>
    </div>
    
</div>

<div id="calanderClients" class="calander-clients-menu"></div>
<div id="stateClients" class="calander-clients-menu"></div>
