<div class="dashboard-page" id="CLIENTS">
    <div class="page-head">
        <h2>לקוחות - ניהול  סגירות</h2>
        <i class="fa-solid fa-circle-plus create-card" onclick="createClient()"></i>
    </div>

    <div class="page-body">
        <div id="macs", class="menu-actions-clients">
            <div class="action-client ac1" onclick="selectClientsState(this)" data-s="8">
                הושלם{% if counts[1] %} ({{ counts[1] }}){% endif %}
            </div>
            <div class="action-client ac2" onclick="selectClientsState(this)" data-s="2">
                בהמתנה{% if counts[2] %} ({{ counts[2] }}){% endif %}
            </div>
            <div class="action-client ac3" onclick="selectClientsState(this)" data-s="1">
                לא נסגר{% if counts[0] %} ({{ counts[0] }}){% endif %}
            </div>
            <div class="action-client ac4" onclick="selectClientsState(this)" data-s="4">
                בוטל{% if counts[3] %} ({{ counts[3] }}){% endif %}
            </div>
            <div class="action-client" onclick="openMenuCalander(this)">
                <i class="fa-solid fa-calendar-days"></i><span style="padding-right: 10px;" id="acc"></span> 
            </div>
        </div>
        <div class="list-clients">
            {% for client in clients %}
                <div class="client-item" data-key="{{client.key}}" id="{{client.client_id}}">
                    <div class="client-title">
                        <div class="ctitle">{{ client.fullname }}
                            <span class="ctype-{{client.state}}">{{client.state | cft}}</span>
                        </div>
                        <div class="ctype">
                            <span>{{client.date | cda }}-{{client.date | cdah }}</span>
                            <span>{{client.price-client.off_price}}₪</span>
                        </div>
                    </div>
                    <div class="client-body"></div>
                    <div class="client-footer">
                        <i class="fa-solid fa-eye" onclick="viewclientDetails('{{client.client_id}}')"></i>
                        <i class="fa-solid fa-bars menu-client" onclick="openMenuClient(this, '{{client.client_id}}')"></i>
                    </div>

                </div>
            {% endfor %}
            <div id="clientMenu" class="client-menu-action"></div>
        </div>
    </div>
    <div class="main-edit-client" id="client-editor">
        <div class="ce-head">
            <i class="fa-solid fa-circle-xmark" onclick="closeCreateClient()"></i>
        </div>
        <div class="ce-body" id="client-template">
            <h1 >building..</h1>
        </div>
    </div>
    
</div>

<div id="calanderClients" class="calander-clients-menu"></div>